@font-face { font-family: Goudy; src: url('../fonts/Goudy-Mediaeval-Regular.ttf'); } 
@font-face { font-family: Goudy-Bold; font-weight: bold; src: url('../fonts/Goudy-Mediaeval-DemiBold.ttf');}
@font-face { font-family: Goudy-Alt; font-weight: bold; src: url('../fonts/Goudy-Medieval-Alternate.ttf');}
@font-face { font-family: Matrix; font-weight: bold; src: url('../fonts/Matrix-Bold.ttf');}